/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed #B9B9B9;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Resultado de la imágen subida';
    color: #B9B9B9;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

.custom-control-label {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}

.reloj {
    color: #0d1420;
    width: auto;
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 5px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #34c2b5; 
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
} 

@media only screen and (min-width: 200px) {
	.reloj {
	    color: #0d1420;
	    font-size: 15px;
	    font-family: Arial;
	    letter-spacing: 5px;
	    text-align: center;
	    background-color: transparent;
	    border: 2px solid #34c2b5; 
        padding: 5px 5px 5px 5px;
	    border-radius: 5px;
	}
}

@media only screen and (min-width: 960px) {
	.reloj {
	    color: #0d1420;
	    font-size: 15;
	    font-family: Arial;
	    letter-spacing: 5px;
	    text-align: center;
	    background-color: transparent;
	    border: 2px solid #34c2b5; 
        padding: 5px 5px 5px 5px;
	    border-radius: 5px;
	}
} 

/*input search style*/
.search {
    position: relative;
}
.search input {
    height: 50px;
    text-indent: 25px;
    border-radius: 10px;
     width: 100%;
}
.search input:focus {
    box-shadow: none;
    border: 1px solid #98FB98;
    box-shadow: 0 0 5px #34c2b5;
}
.search .fa-search {
    position: absolute;
    top: 16px;
    left: 16px;
}
.icon{
    color: #008080;
}

/*style list products*/
.list-group-item{
    width:auto;border:1px solid #f1f1f1;
}
.flex-row{
    border:1px solid #ccd2db;margin-right:-17px;margin-top:-10px;margin-left:-19px;margin-bottom:-10px;
}
.divimg{ 
    border:1px solid #ccd2db;
}

#listarmiembros tbody td {
    text-align: center;
}

.redes{
    font-size: 22px;
}